{% extends "base.html.twig" %}
{# #TODO : put templates for header and footer #}
{% block content %}
<h1>CGU</h1>
<br>
    <div class="card-body">
        <p>Nostrud ipsum excepteur qui proident aliquip ex cillum commodo velit commodo incididunt. Ex ea id excepteur sint. Cillum sit ut eiusmod nulla deserunt consectetur qui ad commodo dolor proident. Esse nulla sint labore aute ad laboris in anim excepteur occaecat. Aliquip quis id est tempor cupidatat in incididunt eiusmod quis ipsum.</p>
        
        <p>Officia sint et ex dolor non aliqua eu aute ipsum culpa ipsum proident consectetur. Eu ullamco eiusmod incididunt duis cupidatat voluptate sunt sit cupidatat deserunt quis sit. Minim anim Lorem mollit do pariatur velit elit veniam ut dolor sint sint commodo. Exercitation sit aliquip nulla sint est aute laborum do esse nostrud ea ullamco. Nisi exercitation reprehenderit quis consequat aliqua in esse ipsum qui. Do consequat incididunt irure sint ipsum et mollit non aliquip minim dolore amet. Dolor culpa magna cillum irure duis esse proident cillum magna culpa pariatur.</p>
        
        <p>Anim voluptate in sunt consectetur ad ex cillum commodo occaecat reprehenderit occaecat sint occaecat. Ex excepteur eiusmod officia reprehenderit in nisi dolor mollit minim Lorem exercitation officia excepteur laboris. Lorem dolor sint Lorem et minim. Ad ut Lorem non elit do mollit dolore Lorem consectetur veniam reprehenderit officia est cillum. Velit duis sunt elit cillum sint voluptate deserunt qui culpa fugiat in incididunt proident. Sit enim sit adipisicing dolore labore quis nostrud. </p>           </div>
    </div>
</div>
{% endblock %}