{% extends "base.html.twig" %}
{% block content %}
<h1>FAQ</h1>
<br>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Fugiat deserunt occaecat id cupidatat et voluptate ut pariatur?
                </button>
            </h5>
        </div>
        
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>Nostrud ipsum excepteur qui proident aliquip ex cillum commodo velit commodo incididunt. Ex ea id excepteur sint. Cillum sit ut eiusmod nulla deserunt consectetur qui ad commodo dolor proident. Esse nulla sint labore aute ad laboris in anim excepteur occaecat. Aliquip quis id est tempor cupidatat in incididunt eiusmod quis ipsum.</p>
                
                <p>Officia sint et ex dolor non aliqua eu aute ipsum culpa ipsum proident consectetur. Eu ullamco eiusmod incididunt duis cupidatat voluptate sunt sit cupidatat deserunt quis sit. Minim anim Lorem mollit do pariatur velit elit veniam ut dolor sint sint commodo. Exercitation sit aliquip nulla sint est aute laborum do esse nostrud ea ullamco. Nisi exercitation reprehenderit quis consequat aliqua in esse ipsum qui. Do consequat incididunt irure sint ipsum et mollit non aliquip minim dolore amet. Dolor culpa magna cillum irure duis esse proident cillum magna culpa pariatur.</p>
                
                <p>Anim voluptate in sunt consectetur ad ex cillum commodo occaecat reprehenderit occaecat sint occaecat. Ex excepteur eiusmod officia reprehenderit in nisi dolor mollit minim Lorem exercitation officia excepteur laboris. Lorem dolor sint Lorem et minim. Ad ut Lorem non elit do mollit dolore Lorem consectetur veniam reprehenderit officia est cillum. Velit duis sunt elit cillum sint voluptate deserunt qui culpa fugiat in incididunt proident. Sit enim sit adipisicing dolore labore quis nostrud.</p>            
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ullamco sint esse ullamco officia velit exercitation culpa nulla?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p>Non dolore mollit sunt laboris laborum reprehenderit magna ut ex eu voluptate nisi ipsum. Enim et velit ad fugiat aute laboris irure aute veniam non fugiat. Non aliquip excepteur id minim nisi ex Lorem pariatur. Consectetur reprehenderit incididunt consequat tempor magna. Lorem quis elit quis voluptate laboris occaecat veniam proident. Qui Lorem sint eu consequat incididunt sint non incididunt.</p>
                
                <p>Sunt ea aliquip deserunt eiusmod nisi in. Ex id anim mollit exercitation cillum exercitation quis mollit proident tempor id consectetur est ut. Aute officia reprehenderit adipisicing sint proident labore non qui irure velit officia laboris. Reprehenderit eu mollit quis magna eu in tempor labore deserunt commodo quis quis voluptate deserunt. Proident pariatur est deserunt fugiat mollit aute Lorem cupidatat proident incididunt.</p>
                
                <p>Tempor anim eiusmod nostrud ullamco sit dolor dolore. Occaecat pariatur consectetur dolore do irure commodo quis esse velit adipisicing. Occaecat sit est sint dolore anim dolore tempor exercitation fugiat ut.</p>            
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Anim do culpa ad id officia magna ut magna esse in?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p> Tempor ea id voluptate dolor. Ad fugiat amet commodo sint in nostrud adipisicing irure eu ullamco est commodo sit. Quis ea mollit laboris consectetur sint. Magna nulla dolore sunt id Lorem mollit reprehenderit fugiat veniam.</p>
                
                <p>Nulla laboris elit sunt consectetur laborum consequat duis consectetur dolore sit laborum eu. Consectetur aliquip nostrud ad nisi et dolore duis. Id adipisicing proident elit fugiat ex magna pariatur irure anim. Deserunt aute non voluptate ullamco aute anim qui cillum aute laboris non. Duis ipsum tempor aute exercitation aliqua commodo proident reprehenderit voluptate ex cupidatat ullamco est ad.</p>
                
                <p>Officia ipsum deserunt amet minim exercitation enim adipisicing. Tempor ad dolore nisi eu amet elit aute magna eu exercitation mollit amet fugiat. Fugiat minim non deserunt magna labore laborum ex est cillum dolore magna amet. Commodo ex occaecat pariatur ut dolore minim ex ullamco Lorem ea aliqua adipisicing irure ut. Excepteur aute ut aute ex duis adipisicing anim aliqua. Enim reprehenderit labore nulla officia ut.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}